.table {
    /* width: 80% !important; */
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #A6A6A6 !important;
    /* background-color: 
    #2e2d2d; */
    color: antiquewhite;
  }

  .head{
   color: #a1E533;
   font-weight: bold;
   font-size: medium;
  }
  